*  {
	margin: 0;
	padding: 0;
}

body {
	font-family: helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

.container {
	display: flex;
	max-width: 100%;
	justify-content: center;
}

.header {
	width: 100%;
	background-color: black;
	display: flex;
	margin-top: 0px;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid seashell;
	z-index: 20;
}

#logo {
	padding-left: 10px;
	height: 59px;
	margin-top: 10px
}

nav {
	font-family: helvetica;
	font-size: 22px;
	color: seashell;
	display: flex;
	width: 400px;
	justify-content: space-between;

}

nav span {
	padding: 10px;
}

.header a {
	color: seashell;
	opacity: 0.9;
}


.main {
    display:flex;
    margin-top: 70px;
	width: 1200px;
	height: 700px;
	background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
	align-items: center;
}

.teaofmonth {
	display: flex;
	max-width: 1000px;
	flex-direction: column;
	margin: 40px 0px;
}

.food {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	justify-content: center;
}
.main div {
	height: 100px;
	width: 100%;
	background-color: black;	
	z-index: 15;
}

.mission {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.itemphoto {
	width: 300px;
	height: 200px;
	display: flex;
	padding: 10px;
}

.item {
	display: flex;
	width: 300px;
	align-items: center;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	margin-top: 20px;
}

.item h3 {
	padding: 10px;
}

#items {
	display: inline-block;
	align-self: center;
}

.location {
	display: flex;
	background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
	height: 500px;
	width: 1200px;
	justify-content: center;
	flex-direction: column;
		margin-top: 50px;
}
.location h1 {
	padding-bottom: 15px;
}
.loc {
	display: flex;
	background-color: black;
	width: 300px;
	height: 300px;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	opacity: 1;
	
}

.foot {
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
}

h6 {
	display:flex;
	align-self: left;
	padding-left: 20px;
}